h1#heading {
  text-align: center;
  font-weight: 1000;
  font-size: 200px;
}
h2 {
  font-size: 100px;
  font-weight: bolder;
}
h3 {
  font-size: 70px;
  font-weight: bold;
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 50px;
}

div#heading {
  background-image: url("../img/first.jpg");
  padding-top: 150px;
  height: 600px;
  color: #ffffff;
  margin-bottom: 50px;

}
.well {
    background-color: rgb(60, 18, 85, 0.7);
}
#rules {

}
